<!DOCTYPE html>
<html>
<head>
<% include ../partials/header %>
<style>
	.red {color: red;}
</style>
</head>
<body ng-app="auth">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>
				<span class="fa fa-sign-in"></span>
				&nbsp;Register
			</h1>
			<% if(errMsg.length > 0){ %>
				<div class="alert alert-danger">
					<%= errMsg %>
				</div>
			<% } %>
			<form action="register" method="post" name="regForm">
				<div class="form-group">
					<label>
						First Name <span class="red">*</span>
					</label>
					<input type="text" class="form-control" name="first_name" required>
				</div>
				<div class="form-group">
					<label>
						Last Name <span class="red">*</span>
					</label>
					<input type="text" class="form-control" name="last_name" required>
				</div>
				<div class="form-group">
					<label>
						Email <span class="red">*</span>
					</label>
					<input type="email" class="form-control" name="email" required>
				</div>
				<div class="form-group">
					<label>
						Password <span class="red">*</span>
					</label>
					<input class="form-control" type="password" ng-model="login.password" name="password" required>
				</div>
				<div class="form-group" ng-show="login.password.length > 0">
					<label>
						Confirm Password <span class="red">*</span>
					</label>
					<input class="form-control" type="password" ng-model="login.verify" pw="login.password" name="verify" required>
					<span class="red" ng-show="regForm.verify.$error.pw">
						Passwords don't match!
					</span>
				</div>
				<input type="submit" class="btn btn-warning btn-lg" ng-disabled="regForm.$invalid" value="Register">
			</form>
			<hr>
			<p>
				Already have an account?&nbsp;
				<a href="login">
					Login
				</a>
			</p>
		</div>
	</div>
</body>
</html>