<!DOCTYPE html>
<html>
<head>
<title>Reset password</title>
<% include ../partials/auth_header %>
</head>
<body ng-app="auth">
	<div class="container">
		<div class="col-sm-6 col-sm-offset-3">
			<h1>
				Reset Password
			</h1>
			<% if(errMsg.length > 0){ %>
				<div class="alert alert-danger">
					<%= errMsg %>
				</div>
			<% } %>
			<form action="../reset" method="post" name="resForm">
				<input type="hidden" name="token" value="<%= user.reset_token %>">
				<div class="form-group">
					<label>
						New Password
					</label>
					<input class="form-control" type="password" ng-model="login.password" name="password" required autofocus>
				</div>
				<div class="form-group" ng-show="login.password.length > 0">
					<label>
						Confirm New Password
					</label>
					<input class="form-control" type="password" ng-model="login.verify" pw="login.password" name="verify" required>
					<span class="red" ng-show="regForm.verify.$error.pw">
						Passwords don't match!
					</span>
				</div>
				<input type="submit" class="btn btn-warning btn-lg" ng-disabled="resForm.$invalid" value="Reset Password">
			<hr>
			<p>
				Return to login page?&nbsp;
				<a href="../login">
					Login
				</a>
			</p>
		</div>
	</div>
</body>
</html>