<title>Authentication</title>
<script src="../mod/jquery/dist/jquery.min.js"></script>
<script src="../mod/angular/angular.min.js"></script>
<script src="../javascripts/AuthCtrls.js"></script>
<style>
	@import "../mod/bootstrap/dist/css/bootstrap.min.css";
	@import "../mod/font-awesome/css/font-awesome.min.css";	
	body {padding-top:80px;}
</style>