<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container">
	    <div class="navbar-header">
	    	<a class="navbar-brand" href="home">AlexWork</a>
	    </div>
	    <ul class="nav navbar-nav navbar-right">
		    <li>
		    	<a href="profile">
			    	<span class="fa fa-user"></span>&nbsp;
			    	<%= user.first_name %>
		    	</a>
		    </li>
		    <li>
		    	<a href="logout">
			    	<span class="fa fa-sign-out"></span>&nbsp;
			    	Logout
		    	</a>
		    </li>
	    </ul>
	</div>
</nav>