<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
</head>
<body>
<form role="form" action="/auth/login" method="post">
	Email <input type="email" name="email">
	Password <input type="password" name="password">
	<button type="submit">Submit</button>
</form>
<a href="/auth/register">
	<button>Register</button>
</a>
</body>
</html>