<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form role="form" action="/register" method="post">
		Username <input type="text" name="username">
		Password <input type="password" name="password">
		<button type="submit">Submit</button>
	</form>
	<a href="/">
		<button type="button">Cancel</button>
	</a>
	<%= info %>
</body>
</html>